@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Body Styles */

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("/images/site/checkerboard.jpg");
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

#wrapper {
  max-width: 800px;
  margin: 2em;
  max-height: fit-content;
  background-color: white;
  padding: 1em;
  border-radius: 20px;
  border: #3560bd 2px solid;
}

@media only screen and (max-width: 700px) {
  #wrapper {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    margin: 0;
    border-radius: 0;
    padding: 0;
    border: none;
  }
}

/* Top Header */

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.siteName {
  margin: 1em;
}

.siteName a {
  text-decoration: none;
  color: black;
}

#tools {
  margin: 0 1em;
}

#tools a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

/* Navigation */

nav {
  background-color: #353535;
  color: white;
  padding: 0.75em;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style-type: none;
}

nav ul li {
  padding: 0.25em;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

nav ul li:hover {
  background-color: #3560bd;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin: 1em;
  padding: 1em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  color: white;
}

@media only screen and (max-width: 700px) {

  nav {
    padding: 0.5em 0;
  }

  nav ul li a {
    margin: 0;
    padding: 0;
  }
}

/* Index */

.index-title {
  margin: 10px;
}

.car-background {
  background-image: url("/images/vehicles/delorean.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 60%;
  max-width: 100vw;
}

.hero-overlay {
  margin: 2em;
  padding: 1em;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.733);
}

.hero-overlay h3 {
  font-size: 1.5em;
  color: #3560bd;
}

.hero-overlay p {
  color: #3560bd;
}

.hero-overlay img {
  width: 75%;
}

@media only screen and (max-width: 700px) {

  .car-background {
    background-image: url("/images/vehicles/delorean-tn.jpg");

  }

  .hero-overlay {
    margin: 1em;
    padding: 0;
    width: 200px;
  }
}

/* Body Content */

.body-content {
  max-width: 100%;
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
}

.upgrade-option {
  text-align: center;
}

.upgrade-option img {
  padding: 10px;
}

.upgrade-option div {
  width: 100%;
  height: 100px;
  background-color: #8888d6;
  border: 2px solid black;
}

.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.reviews ul li {
  margin: 1em;
  font-size: 1.3em;
}

@media only screen and (max-width: 700px) {
  .body-content {
    margin-top: 1em;
    padding: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  .reviews ul li {
    margin: 8px;
    font-size: 1.1em;
  }

  #reviews {
    grid-row: 1/2;
  }

  #upgrades {
    grid-row: 2/3;
  }

  .body-column {
    width: 100%;
  }

  .upgrade-option div {
    width: 100%;
  }

  .upgrade-option p {
    margin: 5px auto;
  }

  .upgrade-grid {
    width: 100%;
  }
}

/* Car Detail View */

.vehicle-detail {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-content: center;
}

.vehicle-detail h1 {
  text-align: center;
  margin-top: 1.5em;
}

.vehicle-detail img {
  width: 100%;
  width: 300px;
}

.vehicle-detail p {
  width: 300px;
}

.saleGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.saleGrid ul {
  padding: 0;
  margin-left: 1em;
}

.home-button {
  text-align: center;
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.login-area {
  width: 100%;
  min-height: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: white;
}

.border-box {
  padding: 1em;
  border-radius: 40px;
  border: 2px solid #3560bd;
  background-color: rgb(163, 253, 244);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #273e70;
  border-radius: 40px;
  padding: 3em;
  gap: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.form-group label {
  color: white;
  font-weight: 600;
}

.form-group input {
  padding: 0.5em 0.75em;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  width: 200px;
  height: 35px;
}

.submit-button {
  padding: 1em 1.5em;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.submit-button:hover {
  background-color: #3560bd;
  color: white;

}

.password-message {
  max-width: 300px;
}

@media screen and (max-width: 700px) {
  .saleGrid {
    grid-template-columns: 1fr;
  }

  .body-content {
    flex-direction: column;
  }

  .sport {
    display: none;
  }
}

/* Management View */

.management {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.management-options {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.management p {
  margin: 0 2em;
  text-align: center;
}

.management-options a {
  text-decoration: none;
  color: black;
  padding: 1em;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.management-options a:hover {
  background-color: #3560bd;
  color: white;
}

/* Add Classification View */

.add-class-form {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 1em;
}

.add-class-form label {
  display: flex;
  flex-direction: column;
}

.add-class-form label input,
.add-class-form label select {
  width: 200px;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid black;
}

.add-class-form button {
  padding: 1em 1.5em;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.add-class-form button:hover {
  background-color: #3560bd;
  color: white;
}

#vehicleDescription {
  width: 325px;
  height: 150px;
  border-radius: 15px;
  padding: 0.5em;
}

.update-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-weight: 600;
  color: white;
}

.submit-button {
  cursor: pointer;
}

/* Review Stuff */

.review-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  width: 100%;
}

.review-columns h4 {
  text-align: center;
}

.detail-review-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.detail-review-form label {
  display: flex;
  flex-direction: column;
}

.detail-review-form textarea {
  width: 100%;
  height: 75px;
  border-radius: 15px;
  padding: 1em;
}

.detail-review-form select {
  width: 125px;
  padding: 10px;
  border-radius: 15px;
}

.detail-review-form input {
  width: fit-content;
  border-radius: 15px;
  border: 1px solid black;
  padding: 6px 10px;
}

.detail-review-form .detail-review-form-other {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.detail-review-item {
  font-weight: 400;
}

.update-review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.update-review-form label {
  display: flex;
  flex-direction: column;
}

.update-review-form textarea {
  width: 400px;
  height: 200px;
  border-radius: 20px;
  padding: 10px;
}

.update-review-form select {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
}

.update-review-form button,
.form-submission-button {
  margin: 1em;
  padding: 1em;
  border-radius: 20px;
  font-weight: 600;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
}

.update-review-form button:hover,
.form-submission-button:hover {
  background-color: #3560bd;
  color: white;
}

.user-review-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 225px;
  max-height: 100px;
}

footer {
  margin-top: 1em;
  border-top: 2px solid rgb(112, 112, 112);
  text-align: center;
}

.classification-grid {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.classification-grid li {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  justify-content: center;
  border-bottom: 2px rgb(181, 181, 181) solid;
  padding-bottom: 2em;
}

.classification-grid li a {
  text-decoration: underline;
  color: rgb(1, 7, 57);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.classification-grid li a:hover {
  color: rgb(152, 152, 156);
}

.classification-grid li img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.namePrice {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-review-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  max-width: 80%;
  padding: 1em;
  border: 2px solid rgb(178, 178, 178);
  border-radius: 10px;
  margin-bottom: 5px;
}

.crud-buttons {
  margin: 5px 0;
}

.crud-button {
  background-color: darkgrey;
  color: white;
  padding: 4px 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.crud-button:hover {
  background-color: #dedede;
  color: black;
}

.classification-list {
  width: 200px;
  padding: 0.5em;
  border-radius: 10px;
  margin: 1em;
}

#inventoryDisplay {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
}

#inventoryDisplay th,
#inventoryDisplay td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

#inventoryDisplay th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#inventoryDisplay tr:nth-child(even) {
  background-color: #f9f9f9;
}

#inventoryDisplay tr:hover {
  background-color: #e9e9e9;
}

.crud-button:hover {
  background-color: #3e8e41;
  color: white;
}

a.crud-button {
  color: white;
}

a.crud-button[href*="/detail/"]:hover {
  background-color: #1d41b8;
}

a.crud-button[href*="/delete/"],
a.crud-button[href*="/delete-review/"] {
  background-color: #f44336;
}

a.crud-button[href*="/delete/"]:hover {
  background-color: #d32f2f;
}